<ion-view title="Settings">
    <ion-content class="has-header">
        <ul class="list">
            <label class="item item-input item-label">
            <span class="input-label">Verse Options</span>
            </label>
            <label class="item item-input item-label">
			<span class="input-label">Number Of Verses</span>
			<input type="text" ng-model="config.numVerses">
			</label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Verses
                </div>
                <select ng-model='config.selectedVerse'
                        ng-options='verse for (idx, verse) in dd track by idx'>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Weeks Option
                </div>
                <select>
                    <option selected>Weekly</option>
                    <option>2 Weeks</option>
                    <option>4 Weeks</option>
                </select>
            </label>
            <li class="item item-toggle">
                National Insurance
                <label class="toggle toggle-positive">
                    <input type="checkbox" value="on">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                Student Loan
                <label class="toggle toggle-positive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                Registered Blind
                <label class="toggle toggle-positive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                Married
                <label class="toggle toggle-positive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <button class="button button-balanced" ng-click="save()">
               Save
            </button>
        </ul>
    </ion-content>
</ion-view>
